{{ define "header" }}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GoForum</title>
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/office/80/000000/very-popular-topic.png">
    <meta name="description" content="Forum task">
    <meta name="author" content="kood/Jõhvi">

    <meta property="og:title" content="GoForum">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Forum teamwork project.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Manual adjustments in CSS -->
    <link href="/public/styles.css" rel="stylesheet">
    <!-- Import Google Font Montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">GoForum</a>
        <form class="form-inline">
            <a class="nav-link" href="/">Main</a>
            <a class="nav-link" href="/new-post">New post</a>
        </form>
        <div class="nav-item dropdown">

            {{if le .User.RoleID 0}}
            <a href="/login" class="nav-item nav-link  user-action">
                <img src="/public/avatar.svg" class="avatar" alt="Avatar"> Log in
            </a>
            {{end}} {{if gt .User.RoleID 0}}
            <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action">
                <img src="/public/avatar.svg" class="avatar" alt="Avatar"> <b class="caret">Hello, {{.User.Username}}</b>
                {{if gt .User.Unread 0}}<span class="rad-menu-badge rad-bg-primary">{{.User.Unread}}</span>{{end}}
            </a>
            {{end}} {{if gt .User.RoleID 0}}
            <div class="dropdown-menu">
                <a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile 
                    {{if gt .User.Unread 0}}<span class="rad-menu-badge rad-bg-primary">{{.User.Unread}}</span>{{end}}</a> 
                <a href="/myposts" class="dropdown-item"><i class="fa fa-comment-o"></i> My posts</a>
                <a href="/activity" class="dropdown-item"><i class="fa fa-heart-o"></i> Activity page</a> {{if eq .User.RoleID 3}}<a href="/config" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>{{end}}
                <div class="divider dropdown-divider"></div>
                <a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
            </div>
            {{end}}
        </div>
    </nav>

    {{ end }}