{{ define "login" }} {{ template "header" .}}

<div class="wrapper">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" id="username" placeholder="Login or e-mail" />
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
        <div class="msg"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a class="btn btn-lg btn-primary btn-block" href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.email profile&response_type=code&state=google&redirect_uri={{.CALLBACK_URI}}&client_id={{.Authdata.GoogleClientID}}">
            Connect with Google</a>
            <a class="btn btn-lg btn-primary btn-block" href="https://www.facebook.com/v12.0/dialog/oauth?client_id={{.Authdata.FacebookClientID}}&scope=openid email public_profile&redirect_uri={{.CALLBACK_URI}}&state=facebook&response_type=code">Connect with Facebook</a>
            
            <a class="btn btn-lg btn-primary btn-block" href="https://github.com/login/oauth/authorize?client_id={{.Authdata.GitHubClientID}}&scope=openid1 user email public_profile&redirect_uri={{.CALLBACK_URI}}&state=github&response_type=code">Connect with GitHub</a>
    
    </form>
        
    {{if .Message.Msg1 }}
    <h6 class="errormsg">{{.Message.Msg1}}</h6>

    {{end}}
    <h6>New here? You can <a href="/register">sign up</a></h6>
</div>

<script src="/public/js/login.js"></script>




{{ template "footer" }} {{ end }}