{{ define "new-post" }} {{ template "header" . }}

<div class="wrapper">
    <div class="post">
        <h1>Post</h1>
        <form id="frmData" name="frmData" enctype="multipart/form-data" method="POST">
            <div class="post-title">
                <label>Title</label>
                <input class="form-control" enctype="multipart/form-data" type="text" required name="title" id="title" value="{{if .Message.Msg2}}{{.Message.Msg2}}{{end}}{{if .Post.Title}}{{.Post.Title}}{{end}}" placeholder="Title" />
            </div>
            <div class="post-body">
                <label>Post</label>
                <textarea class="form-control" rows="10" style="resize: none; width: 100%; max-width: 100%;" name="content" form="frmData" id="post-body" placeholder="Post content" required>{{if .Message.Msg3}}{{.Message.Msg3}}{{end}}{{if .Post.Content}}{{.Post.Content}}{{end}}</textarea>
            </div>
            {{if ne .Post.Image ""}}
            <a href="/public/upload/{{.Post.Image}}"><img class="editimg" src="/public/upload/{{.Post.Image}}" alt="post image"></a>
            <button form="delete">Remove image</button> {{end}}
            <div class="ulimage">
                <label for="ulimage">Attach an image</label>
                <input type="file" name="image" value="Upload image" accept="image">
            </div>
            <div class="post-categories">
                <label for="categories-selector">Categories</label>
                <div class="categories-selector">
                    {{range $val := .Categories}}
                    <label class="btn btn-light">{{.Title}} <input type="checkbox" name="category" value={{.ID}} {{.Checked}}></label> {{end}}
                </div>

            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" id="submit" value="Submit post">
    </div>
    </form>

    <form method="POST" id="delete" name="deleteimg" action="delete">
        <input type="hidden" name="postid" value="{{.Post.ID}}">
        <input type="hidden" name="username" value="{{.User.Username}}">
        {{if ne .Post.Image ""}}
        <input type="hidden" name="postimg" value="{{.Post.Image}}">
        {{end}}
    </form>

    {{if .Message.Msg1}} {{.Message.Msg1}} {{end}}
</div>

{{ template "footer" }} {{ end }}