{{ define "view-post" }}

{{ template "header" . }}
<script src="/public/js/viewpost.js"></script>
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">  
    <h2>{{.Post.Title}}</h2>
    <div class="hr"><hr></div>
    <div class="post-desc">
        <div id="Author"><small><b>Author: </b>{{.Post.Author}}</small></div>
        <div id="Date"><small><b>Date: </b>{{.Post.Date}}</small></div>
        <div class="categorybox"><small><b>Posted in: </b>{{range .Post.Categories}}<a href="/category/{{.}}"> #{{.}}</a>{{end}}</small></div>
        {{if and (eq .Post.Status "review") (eq .Post.Author .User.Username)}}
            <h6 class="errormsg">Your post was not approved yet, so it can not be seen by others</h6>
        {{else if and (eq .Post.Status "declined") (eq .Post.Author .User.Username)}}
            <h6 class="errormsg">Your post was declined, so it can not be seen by others</h6>
        {{end}}
    </div>
    </div>
    <p>
        {{if or (eq .Post.Status "approved") (gt .User.RoleID 1) (eq .Post.Author .User.Username)}}
            <pre class="post-content">{{.Post.Content}}</pre>
        {{else if eq .Post.Status "review"}}
            <div><img class="errimg" src="/public/err400.jpg" alt="Not yet available"></div>
            <h6 class="errormsg">We are sorry, but this post is not available yet because moderators haven't approved it</h6>
        {{else if eq .Post.Status "declined"}}
            <div><img class="errimg" src="/public/err500.jpg" alt="Post is declined"></div>
            <h6 class="errormsg">We are sorry, but this post was declined by moderators so you can not see it</h6>
        {{end}}

        <!--If there is an image for post, display it here-->
{{if ne .Post.Image ""}}
        <a href="/public/upload/{{.Post.Image}}"><img class="postimg" src="/public/upload/{{.Post.Image}}" alt="post image"></a>
{{end}}

    </p>
    <div class="postlikebox">
        {{if gt .User.RoleID 0}}
            <form action="" method="POST">
                <input type="hidden" name="postreaction" value="like">
                <input type="hidden" name="postid" value="{{.Post.ID}}">
                <button class="iconbutton" type="submit" aria-label="like">
            {{if eq .Post.Reaction "like"}}
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>

            {{else}}
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            {{end}}
                </button>
                <span class="like">{{.Post.Likes}}</span>
            </form>

            <form action="" method="POST">
                <input type="hidden" name="postreaction" value="dislike">
                <input type="hidden" name="postid" value="{{.Post.ID}}">
                <button class="iconbutton" type="submit" aria-label="dislike">
            {{if eq .Post.Reaction "dislike"}}
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            {{else}}
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
            {{end}}
                </button>
                <span class="dislike">{{.Post.Dislikes}}</span>
            </form>

        {{else}}
            <a href="/login"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a><span class="like">{{.Post.Likes}}</span>
            <a href="/login"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a><span class="dislike">{{.Post.Dislikes}}</span> 
        {{end}}


        <i class="fa fa-comment-o footer" aria-hidden="true"></i><span class="commentcount">{{.Post.Comments}}</span>
    
    </div>

    <div class="hr"><hr></div>
        <div class="post-row">
            {{if or (eq .Post.Author .User.Username) (eq .User.RoleID 3)}}
            <form method="post">
                <button class="btn btn-primary" type="submit" name="submit" value="edit-post">Edit post</button>
                <button class="btn btn-danger" type="submit" name="submit" value="delete-post">Delete post</button>
            </form>
            {{else if eq .User.RoleID 2}}
                {{if eq .Post.Status "approved"}}
                    <form method="post">
                        <button class="btn btn-primary" type="submit" name="submit" value="report-post">Report post</button>
                    </form>
                {{else if eq .Post.Status "review"}}
                    <form method="post">
                        <button class="btn btn-primary" type="submit" name="submit" value="approve-post">Approve post</button>
                        <button class="btn btn-danger" type="submit" name="submit" value="decline-post">Decline post</button>
                    </form>
                {{else}}
                    <form method="post">
                        <button class="btn btn-primary" type="submit" name="submit" value="approve-post">Approve post</button>
                    </form>
                {{end}}
            {{end}}
        </div>
        <div class="post-row">
            
        </div>
    </div>


    {{if .Message.Msg1 }}
        <h6 class="errormsg">{{.Message.Msg1}}</h6>
    {{end}}

    {{if .Message.Msg2 }}
        <h6 class="success">{{.Message.Msg2}}</h6>
    {{end}}

    <div class="comments container">
        {{if gt .User.RoleID 0}}
            <form method="post" class="commentform" id="commentform">
                <input type="hidden" name="commentid" value="{{.Comment.ID}}">
                <textarea 
                    name="comment" 
                    form="commentform" 
                    rows="3"
                    maxlength="1000"
                    style="resize: none; width: 100%; max-width: 100%;"
                    placeholder="Think before you post...">{{.Comment.Content}}</textarea>
                    <button class="btn btn-primary" type="submit" name ="submit" value="submit-comment">Submit comment</button>
            </form>
        {{end}}

        {{if eq .User.RoleID 0}}
        <h6>In order to add comment, please <a href="/login">log in</a> or <a href="/register">sign up</a></h6>
        {{end}}

        {{ range $val := .Comments}}

        <div class="comment">
            <hr>
            <div class="d-flex justify-content-left py-2 comment">
                <div class="second py-2 px-2"> <pre class="comment-text">{{.Content}}</pre>
                    <div class="d-flex py-1 pt-2">
                        <span class="comment-item author"><small><b>Author: </b>{{.Author}}</small></span>
                        <span class="comment-item  date"><small>{{.Date}}</small></span>
                            <div class="commentlikebox">
                                {{if gt $.User.RoleID 0}}
                                    <form action="" method="POST">
                                        <input type="hidden" name="commentreaction" value="like">
                                        <input type="hidden" name="commentid" value="{{.ID}}">
                                        <button class="iconbutton" type="submit" aria-label="like">
                                    {{if eq .Reaction "like"}}
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        
                                    {{else}}
                                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    {{end}}
                                        </button>
                                        <span class="like">{{.Likes}}</span>
                                    </form>
                        
                                    <form action="" method="POST">
                                        <input type="hidden" name="commentreaction" value="dislike">
                                        <input type="hidden" name="commentid" value="{{.ID}}">
                                        <button class="iconbutton" type="submit" aria-label="dislike">
                                    {{if eq .Reaction "dislike"}}
                                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                    {{else}}
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 
                                    {{end}}
                                        </button>
                                        <span class="dislike">{{.Dislikes}}</span>
                                    </form>
                        
                                {{else}}
                                    <a href="/login"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a><span class="like">{{.Likes}}</span>
                                    <a href="/login"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a><span class="dislike">{{.Dislikes}}</span> 
                                {{end}}

                                {{ if or (eq .Author $.User.Username) (eq $.User.RoleID 3) }}
                                    <form method="post">
                                        <input type="hidden" name="commentid" value="{{.ID}}">
                                        <button class="btn btn-primary btn-sm" type="submit" name="submit" value="edit-comment">Edit</button>
                                        <button class="btn btn-danger btn-sm" type="submit" name="submit" value="delete-comment">Delete</button>
                                    </form>
                                {{else if eq $.User.RoleID 2}}
                                    <form method="post">
                                        <input type="hidden" name="commentid" value="{{.ID}}">
                                        <button class="btn btn-primary btn-sm" type="submit" name="submit" value="report-comment">Report</button>
                                    </form>
                                {{end}}

                            
                            </div>
            
                    </div>
                </div>
            </div>
            <hr>
        </div>
        {{end}}
    </div>
</main>

<script src="/public/js/viewpost.js"></script>

{{ template "footer" }}
    
{{ end }} 