body {
    font-family: 'Montserrat', sans-serif;
}

pre {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    padding-bottom: 30px;
    padding-top: 30px;
}

.errormsg {
    color: indianred;
    margin-top: 10px;
    margin-bottom: 10px;
}

.success {
    color: mediumseagreen;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-icon {
    width: 20px;
}

.rad-menu-badge{
	min-width:20px;
	min-height:20px;	
	line-height:20px;
	font-weight:bold;
	color: white;
	border-radius:100%;
	font-size:12px;
	background:#E94B3B;
	box-shadow:.5px .2px 1px rgba(#000,.5);
	display:inline-block;
	text-align:center;
	top:-10px;
	z-index:1;
}

/*LOGIN and SIGNUP pages*/

.wrapper {
    margin: auto;
    max-width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}

.form-control {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-signin-heading {
    margin-bottom: 40px;
}

.error {
    background: rgb(255, 100, 100);
    border: 1px;
    border-color: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}


/* INDEX PAGE */

.category-description {
    min-height: 13rem;
}


/* ERROR pages*/

.errimg {
    max-width: 400px;
}

.err-heading h1 h2 h3 h4 h5 h6 {
    margin: 20px;
    padding: 20px;
}

.err-heading {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* VIEW POST page */

.post-desc {
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-stats {
    padding-left: 10px;
    padding-right: 10px;
}

.category-icon {
    width: 20px;
}

.meta {
    float: right;
    margin-left: 8px;
}

.post-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-item {
    margin-right: 30px;
}

.avatar {
    width: 25px;
}

.dropdown-menu {
    left: -30%;
}

.post-content {
    max-width: 100%;
}

pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}


/* peeter testing some stuff here */

.postcontainer {
    margin: 1em auto 1em auto;
    padding: 0;
    border: 1px solid lightgray;
    max-width: 800px;
}

.postheader,
.postfooter {
    padding: 0.5em;
    background-color: aliceblue;
}

.posttitle {
    padding: 1em 0.5em 1em 0.5em;
}

.postfooter,
.postheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posttitle span {
    white-space: pre-wrap;
}

.like {
    color: darkgreen
}

.dislike {
    color: red
}

i {
    font-size: 1.5em!important;
    color: black;
}

i span {
    position: fixed;
    /* top: 0px; */
    transform: translate(10%, -30%);
}

.fa-comment-o.footer {
    margin-left: 10px;
    padding: 0;
}

.like,
.dislike,
.commentcount {
    margin: 0 3px 0 3px;
}

.iconbutton {
    border: 0;
    background-color: transparent;
}

.postfooter form,
.postlikebox form,
.commentlikebox form {
    display: inline-block;
}

.ulimage {
    margin: 1em 0 2em 0;
}

.postimg {
    max-width: 100%;
}

.editimg {
    max-width: 60px;
    max-height: 60px;
}


/* end of peeters test */


/* PROFILE page */

.profile {
    margin-top: 100px;
    margin-bottom: 100px;
}

.form-control-sm {
    margin-bottom: 10px;
}

.password,
.application,
.username,
.roleselect {
    max-width: 400px;
}

.profile-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.faded {
    color: gray;
}

.notification {
    margin-right: 20px;
}

.hide-notification {
    height: 30px;
}

/* CONFIG page */
.config-header {
    margin-top: 20px;
}