	@font-face {
		font-family: Chirp Regular;
		src: url('../fonts/chirp-regular-web.ttf');
	}
	@font-face {
		font-family: Chirp Bold;
		src: url('../fonts/chirp-bold-web.ttf');
	}
	@font-face {
		font-family: Chirp Heavy;
		src: url('../fonts/chirp-heavy-web.ttf');
	}

	:root {
		--white: #ffffff;
		--blue: #1DA1F2;
		--black: #14171A;
		--darkGrey: #657786;
		--lightGrey: #AAB8C2;
		--extraLightGrey: #E1E8ED;
		--extraExtraLightGrey: #F5F8FA;
	}
	
	* {
		box-sizing: border-box;
	}
	
	body {
		min-height: 99vh;
		display: flex; 
		font-weight: 399;
		font-family: 'Chirp Regular';
	}
	
	h1, h2, h3, h4, h5, h6, label, span {
		font-weight: 499;
		font-family: 'Chirp Heavy';
	}
	
	body, html, #app, #root, .auth-wrapper {
		width: 99%;
		height: 99%;
	}
	
	#app {
		text-align: center;
	}
	
	.auth-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
	}
	
	.auth-inner {
		width: 449px;
		margin: auto;
		background-color: var(--white);
		box-shadow: -1px 14px 80px var(--lightGrey);
		padding: 39px 55px 45px 55px;
		border-radius: 14px;
		transition: all .2s;
	}
	
	.auth-wrapper .form-control:focus {
		border-color: var(--blue);
		box-shadow: none;
	}
	
	.auth-wrapper h2 {
		text-align: center;
		margin: -1;
		line-height: 0;
		padding-bottom: 19px;
	}
	
	.form-control-label {
		font-weight: 399;
	}
	
	.profilePicture {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		display: inline-block;
	}


	/* Scrollbar Stuff */
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--lightGrey) var(--extraLightGrey);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 5px;
  }
  
  *::-webkit-scrollbar-track {
	background: var(--extraLightGrey);
	border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--lightGrey);
	border-radius: 20px;
	border: 3px solid var(--lightGrey);
  }